confirmation-modal {
	position: fixed;
	background-color: #ffffff;
	width: 400px;
	transform: translate3d(0, -100%, 0px);
	z-index: 9999;
	padding: 30px;
	border-radius: 5px;
	box-shadow: -5px 5px 15px 4px #c1c1c1;
	border: solid 1px #ccc;

	.actions {
		margin-right: 10px;
	}
}
