main-menu {
	position: absolute;
	right: 0;
	transform: translateX(-60px);
	// transform: translateX(100px);
	overflow: hidden;
	opacity: 0;
	transition:
		opacity 250ms ease,
		transform 250ms ease;
	top: 90%;
	background-color: white;
	border: solid 1px;
	width: 300px;
	box-shadow: 2px 7px 14px -1px #262626;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	section {
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 10px;
		border-bottom: solid 1px;
		width: 100%;
		display: block;
		background-color: #e5e5e5;
		font-size: 14px;
		box-sizing: border-box;

		a {
			float: right;
		}
	}

	.obj-list {
		& > div {
			display: flex;
			padding: 10px 10px 10px 10px;
			border-bottom: solid 1px #666;
			background-color: white;
			align-items: center;

			div {
				flex: 1;
			}

			a,
			app-icon {
				margin: 0px 5px;
				cursor: pointer;
			}

			&.device {
				app-icon {
					margin-left: 0px;
				}
			}
		}
	}

	.beats {
		padding: 10px;

		.bpm {
			display: flex;

			label {
				flex: 1;
			}

			.tap {
				cursor: pointer;
				border: solid 1px;
				border-radius: 3px;
				font-size: 12px;
				padding: 0px 10px;

				&.tapped {
					background-color: green;
					color: white;
				}
			}
		}

		.triggers {
			margin-top: 10px;
			display: flex;
			transform: scale3d(1, -1, 1);

			& > div {
				flex: 1;

				&.on-beat {
					div {
						background-color: green;
					}
				}

				div {
					padding-top: 100%;
					border: solid 1px;
				}

				&:nth-child(4n + 1) {
					flex: 1.4;
					margin-top: 0px;
				}
			}
		}
	}
}
