main-menu {
	position: absolute;
	right: 0;
	transform: translateX(-60px);
	// transform: translateX(100px);
	overflow: hidden;
	opacity: 0;
	transition:
		opacity 250ms ease,
		transform 250ms ease;
	top: 90%;
	background-color: white;
	border: solid 1px;
	width: 300px;
	box-shadow: 2px 7px 14px -1px #262626;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	section {
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 10px;
		border-bottom: solid 1px;
		width: 100%;
		display: block;
		background-color: #e5e5e5;
		font-size: 14px;
		box-sizing: border-box;

		a {
			float: right;
		}
	}

	.obj-list {
		& > div {
			display: flex;
			padding: 10px 10px 10px 20px;
			border-bottom: solid 1px #666;
			background-color: white;
			align-items: center;

			div {
				flex: 1;
			}

			a,
			app-icon {
				margin: 0px 5px;
				cursor: pointer;
			}
		}
	}
}
