<template>
  <div class="select">
    <div
      href="#"
      :class="'select-index ' + (target?.disabled ? 'disabled' : '')"
      uk-tooltip="Toggle Disabled"
      @click="toggleDisabled($event)"
    >
      {{idx + 1}}
    </div>
    <div class="select-display">{{target?.label || "Unassigned"}}</div>
    <div class="select-list">
      <ul class="uk-list">
        <li @click="updateSelection(null)">Empty</li>
        <li @click="updateSelection('__script')">Script</li>
        <template :for="options" :id="$value.id + '_' + $value.active">
          <template :if="$value.active">
            <li @click="updateSelection($value.id)">{{$value.label}}</li>
          </template>
        </template>
      </ul>
    </div>
    <div class="select-actions">
      <template :if="isScript(target)">
        <div class="select-handle" @click="openEdit($event)">
          <span data-uk-icon="icon: pencil"></span>
        </div>
      </template>
      <div class="select-handle" @click="toggleActive($event)">
        <span data-uk-icon="icon: triangle-down"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import app from "../app";
  import { storage } from "../js/storage";

  class SlotList extends BuildingBlocks {
    constructor() {
      super();
    }

    static get observedProperties() {
      return ["idx", "options", "slot", "target"];
    }

    connected() {
      this.options = app.state.effects;
      this.slot = app.state.slots[this.idx];

      this.slot.listen("target", (target) => {
        this.target = target;
      });

      app.state.bind(this, "effects", (effects) => {
        this.options = effects;

        effects.map((e) => {
          e.bindOnce(this, "active", (active) => {
            this.options = [...app.state.effects];
          });
        });
      });

      this.addEventListener("dragover", (e) => {
        e.preventDefault();
      });

      this.addEventListener("dragenter", (e) => {
        if (e.currentTarget.contains(e.relatedTarget)) {
          return;
        }

        this.classList.add("dragover");
      });

      this.addEventListener("dragleave", (e) => {
        if (e.currentTarget.contains(e.relatedTarget)) {
          return;
        }

        this.classList.remove("dragover");
      });

      this.addEventListener("drop", (e) => {
        e.preventDefault();

        let data = JSON.parse(e.dataTransfer.getData("text/plain"));
        app.setSlot(this.idx, data.id);
        app.updateSelected("slot", this.idx);
      });
    }

    isScript(target) {
      return target?.values?.length === 2;
    }

    openEdit(e) {
      e.preventDefault();
      e.stopPropagation();
      let editor = document.createElement("script-editor");
      editor.save = this.editScript.bind(this);
      editor.code = this.slot.target.code;
      editor.label = this.slot.target.label;
      editor.session = true;

      document.body.appendChild(editor);
    }

    editScript(label, code, id) {
      app.updateSlot(this.idx, { label, code });

      if (!!id) {
        storage.upsertItem("scripts", { id, label, code });
      }
    }

    toggleActive(e) {
      e.preventDefault();
      e.stopPropagation();
      this.querySelector(".select").classList.add("active");
      window.addEventListener("click", () => {
        this.querySelector(".select").classList.remove("active");
      });
    }

    toggleDisabled(e) {
      e.preventDefault();
      e.stopPropagation();
      app.updateSlot(this.idx, { disabled: !this.slot.disabled });
    }

    updateSelection(id) {
      console.log(id);
      app.setSlot(this.idx, id);
    }
  }
</script>
