<template>
  <div class="content">
    <div class="inner">
      <template :for="folders || []" :id="$value.key">
        <div class="folder" :data-path="$value.key">
          <label
            @click="toggle($event)"
            @dragover="handleOver($event)"
            @dragenter="handleEnter($event)"
            @dragleave="handleLeave($event)"
            @drop="handleDrop($event)"
          >
            <span uk-icon="folder"></span> <span>{{$value.key}}</span>
          </label>
          <folder-list
            :items="$value.value"
            :actions="actions"
            :dragtype="dragtype"
            :arrange="arrange"
          ></folder-list>
        </div>
      </template>
      <template :for="files || []" :id="obj.value.id" $idx="index" $value="obj">
        <div class="object">
          <label :draggable="!!dragtype" @dragStart="handleAssign(obj, $event)">
            <template :if="!!dragtype">
              <app-icon
                :icon="'move'"
                aria-label="Assign to Slot"
                uk-tooltip="Assign to Slot"
              ></app-icon>
            </template>
            <span>{{obj.value.label}}</span>
          </label>
          <template :for="actions" :id="$idx">
            <folder-list-action
              :options="$value"
              :idx="index"
              :key="$key"
              :value="obj.value"
            ></folder-list-action>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  class FolderList extends BuildingBlocks {
    constructor() {
      super();
    }

    static get observedProperties() {
      return ["items", "folders", "files", "actions", "dragtype", "arrange"];
    }

    connected() {
      this.listen("items", (items) => {
        this.sort();
      });

      this.sort();
    }

    handleOver(e) {
      e.preventDefault();
    }

    handleEnter(e) {
      if (!!e.relatedTarget && e.currentTarget.contains(e.relatedTarget)) {
        return;
      }

      this.classList.add("dragover");
    }

    handleLeave(e) {
      if (!!e.relatedTarget && e.currentTarget.contains(e.relatedTarget)) {
        return;
      }

      this.classList.remove("dragover");
    }

    handleDrop(e) {
      e.preventDefault();
      e.stopPropagation();

      let data = JSON.parse(e.dataTransfer.getData("text/plain"));
      let path = this.parentPaths(e.target);

      if (!!this.arrange) {
        this.arrange(data, path);
      }
    }

    parentPaths(el) {
      let paths = [];
      while (el !== document.body) {
        if (!!el.dataset?.path) {
          paths.unshift(el.dataset.path);
        }

        el = el.parentNode;
      }

      return paths.join("/");
    }

    toggle(e) {
      e.stopPropagation();
      e.target.parentNode.classList.toggle("expanded");
    }

    handleAssign(obj, e) {
      document.body.classList.add(`drag-${this.dragtype}`);

      e.dataTransfer.clearData();
      e.dataTransfer.setData(
        "text/plain",
        JSON.stringify({ id: obj.value.id, type: this.dragtype }),
      );

      window.addEventListener("dragend", (e) => {
        document.body.classList.remove(`drag-${this.dragtype}`);
      });
    }

    sort() {
      let keys = Object.keys(this.items || []);
      let folders = [];
      let files = [];
      let sorted = [];

      keys.map((k) => {
        if (Array.isArray(this.items[k])) {
          folders.push(k);
        } else {
          files.push(k);
        }
      });

      this.files = [...files]
        .sort((a, b) => +a - +b)
        .map((k) => {
          return {
            key: k,
            value: this.items[k],
          };
        });

      this.folders = [...folders].sort().map((k) => {
        return {
          key: k,
          value: this.items[k],
        };
      });
    }
  }
</script>
