<template>
  <div @click="stop($event)">
    <section>
      <label>Saved Projects</label>
      <a
        @click="uploadProject()"
        uk-icon="icon: upload"
        aria-label="Upload Project"
        uk-tooltip="Upload Project"
      ></a>
    </section>

    <div class="obj-list">
      <template :if="projects?.length === 0">
        <div class="obj project">
          <div>No Projects Saved</div>
        </div>
      </template>
      <template :for="projects" :id="$value.id">
        <div class="obj project" @click="loadProject($value)">
          <div>{{$value.name}}</div>
          <a
            @click="downloadProject($value)"
            uk-icon="icon: download"
            aria-label="Download Project"
            uk-tooltip="Download Project"
          ></a>
          <a
            href="javascript:void(0)"
            uk-icon="icon: trash"
            @click="deleteProject($value, $event)"
            aria-label="Delete Project"
            uk-tooltip="Delete Project"
          ></a>
        </div>
      </template>
    </div>

    <section>
      <label>Midi Controllers</label>
      <a
        @click="refreshMidi()"
        uk-icon="icon: refresh"
        aria-label="Refresh Midi"
        uk-tooltip="Refresh Midi"
      ></a>
    </section>
    <div class="obj-list">
      <template :if="devices?.length === 0">
        <div class="obj project">
          <div>No Midi Controllers Found</div>
        </div>
      </template>
      <template :for="devices" :id="$value.id">
        <div class="obj device">
          <app-icon
            :icon="$value.name === controller?.name ? 'check-circle' : 'circle'"
            aria-label="Selected"
          ></app-icon>
          <div>{{$value.name}}</div>
        </div>
      </template>
    </div>

    <section>
      <label>Midi Timeclock Input</label>
      <a
        @click="refreshMidi()"
        uk-icon="icon: refresh"
        aria-label="Refresh Midi"
        uk-tooltip="Refresh Midi"
      ></a>
    </section>
    <div class="obj-list">
      <template :if="devices?.length === 0">
        <div class="obj project">
          <div>No Midi Controllers Found</div>
        </div>
      </template>
      <template :for="devices" :id="$value.id">
        <div class="obj device">
          <app-icon
            :icon="$value.name === clock?.name ? 'check-circle' : 'circle'"
            aria-label="Selected"
            @click="setClock($value)"
          ></app-icon>
          <div>{{$value.name}}</div>
        </div>
      </template>
    </div>

    <section>
      <label>Metronome</label>
    </section>
    <div class="beats">
      <div class="setter">
        <div>
          <label>BPM {{bpm}}</label>
        </div>
        <input
          type="range"
          step="1"
          min="40"
          max="220"
          :value="bpm"
          :disabled="!!clock"
          @input="setBPM($event.target.value)"
        />
      </div>
      <div class="triggers">
        <template :for="bar" :id="$idx">
          <div :class="beatClass($idx, beat)" @click="setBeat($idx)">
            <div></div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import app from "../app.js";
  import { storage } from "../js/storage.js";

  class MainMenu extends BuildingBlocks {
    constructor() {
      super();
    }

    static get observedProperties() {
      return [
        "projects",
        "devices",
        "controller",
        "clock",
        "bpm",
        "beat",
        "bar",
      ];
    }

    connected() {
      this.devices = [];
      this.bar = new Array(16).fill(null);

      storage.bind(this, "projects", (projects) => {
        this.projects = projects;
      });

      app.midi.bind(this, "inputs", (inputs) => {
        this.devices = inputs;
      });

      app.midi.bind(this, "input", (input) => {
        this.controller = input;
      });

      app.midi.bind(this, "clock", (clock) => {
        this.clock = clock;
      });

      app.midi.bind(this, "bpm", (bpm) => {
        this.bpm = bpm;
      });

      app.midi.bind(this, "beat", (beat) => {
        this.beat = beat;
      });
    }

    stop(evt) {
      evt.stopPropagation();
    }

    uploadProject() {
      console.log("Upload Project");
    }

    downloadProject(project) {
      console.log("Download Project:", project);
    }

    refreshMidi() {
      app.midi.refresh();
    }

    setClock(clock) {
      if (app.midi.clock === clock) {
        app.midi.setClock(null);
      } else {
        app.midi.setClock(clock);
      }
    }

    setBPM(bpm) {
      app.midi.setBPM(bpm);
    }

    beatClass(idx, beat) {
      if (!Array.isArray(beat)) {
        return;
      }

      return (beat[0] << 2) + beat[1] === idx ? "on-beat" : "";
    }

    setBeat(idx) {
      let beat = (idx / 4) | 0;
      let sxth = idx % 4;

      app.midi.nextBeat = beat;
      app.midi.next16th = sxth;
    }

    loadProject(project) {
      app.loadProject(project);
    }

    deleteProject(project, evt) {
      evt.stopPropagation();
      app.deleteProject(project);
    }
  }
</script>
