<template>
  <div class="modal">
    <div class="container">
      <div class="header"></div>
      <div class="dialog">
        <div class="sidebar">
          <api-docs></api-docs>
        </div>

        <div class="editor">
          <div class="editor-header">
            <form>
              <div class="input-wrapper">
                <label>Script Name</label>
                <input
                  type="text"
                  class="label"
                  :value="label"
                  @input="onLabel($event)"
                />
              </div>
              <div class="input-wrapper">
                <label>Template</label>
                <select @input="onTemplate($event)">
                  <option value="">No Template</option>
                  <template :for="scripts" :id="$value.id">
                    <option :value="$value.id">{{$value.label}}</option>
                  </template>
                </select>
              </div>
            </form>
            <div :class='!!error ? "error " : "error hidden"'>
              {{(error || '').toString()}}
            </div>
          </div>
          <div class="code-box">
            <div class="editor"></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="fit">
          <template :if="session">
            <div
              :class="'btn' + (!dirty ? ' disabled' : '')"
              @click="onUpdate()"
            >
              Live Update
            </div>
          </template>

          <template :if="!!id">
            <div
              :class="'btn' + (!dirty ? ' disabled' : '')"
              @click="onSave($event)"
            >
              Save
            </div>
          </template>

          <div
            :class="'btn' + (!dirty ? ' disabled' : '')"
            @click="onSaveNew($event)"
          >
            Save New
          </div>
        </div>
        <div>
          <div class="btn" @click="onCancel()">Close</div>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</template>

<script>
  import { storage } from "../js/storage.js";
  import { gen_id } from "../js/utils.js";

  class CodeEditor extends BuildingBlocks {
    constructor() {
      super();

      this.label = "";
      this.scripts = [];
    }

    static get observedProperties() {
      return [
        "session",
        "dirty",
        "error",
        "label",
        "path",
        "code",
        "scripts",
        "save",
        "id",
      ];
    }

    connected() {
      this.dirty = false;
      this.editor = ace.edit(this.querySelector(".code-box .editor"));
      this.editor.session.setMode("ace/mode/javascript");

      this.editor.setValue(this.code, -1);
      this.editor.getSession().on("change", () => {
        this.dirty = true;
      });

      const beautify = ace.require("ace/ext/beautify"); // get reference to extension
      beautify.beautify(this.editor.session);

      storage.bind(this, "scripts", (scripts) => {
        this.scripts = scripts;
      });
    }

    disconnected() {
      this.editor.destroy();
      this.editor = null;
    }

    onLabel(evt) {
      this.label = evt.target.value;
      this.dirty = true;
    }

    async onTemplate(evt) {
      let script = await storage.getItem("scripts", evt.target.value);

      this.id = script.id;
      this.label = (script.path || "") + script.label;
      this.editor.setValue(script.code, -1);
      this.dirty = true;
    }

    async onUpdate() {
      if (!this.dirty) {
        return;
      }

      let code = this.editor.getValue();

      if (!!this.save) {
        this.save(this.label, code);
      }

      this.dirty = false;
    }

    async onSave(e) {
      if (!this.dirty) {
        return;
      }

      if (!this.label) {
        this.error = "Label required";
        return;
      }

      // TODO validate code
      this.error = null;

      let slug = this.label;
      let parts = slug.split("/");
      let label = parts.pop();
      let path = parts.join("/");

      let code = this.editor.getValue();
      let existing = await storage.getItem("scripts", +this.id);

      if (!existing) {
        return console.warn("No existing found");
      }

      this.save(label, code, +this.id, path);
      this.dirty = false;
    }

    async onSaveNew(e) {
      if (!this.dirty) {
        return;
      }

      let slug = this.label;
      let parts = slug.split("/");
      let label = parts.pop();
      let path = parts.join("/");

      let id = gen_id();
      let code = this.editor.getValue();
      let existing = await storage.getItem("scripts", +id);

      if (!!existing) {
        console.log("Id collision, resaving");
        return this.onSaveNew(e);
      }

      this.save(label, code, +id, path);
      this.dirty = false;
    }

    onCancel() {
      this.remove();
    }
  }
</script>
