<template>
  <div class="preview">
    <output-screen
      :width="360"
      :height="240"
      :fullscreen="false"
      :editable="false"
    ></output-screen>
    <a
      href="javascript:void(0)"
      uk-icon="icon: arrow-up-right"
      aria-label="Popout Video"
      uk-tooltip="Popout Video"
      @click="popout()"
    ></a>
  </div>
  <ul class="tabs">
    <li :class="tabClass('shapes')" @click="updateTab('shapes')">
      <a href="#">Shapes</a>
    </li>
    <li :class="tabClass('scripts')" @click="updateTab('scripts')">
      <a href="#">Scripts</a>
    </li>
    <li :class="tabClass('effects')" @click="updateTab('effects')">
      <a href="#">Effects</a>
    </li>
    <li :class="tabClass('shaders')" @click="updateTab('shaders')">
      <a href="#">Shaders </a>
    </li>
  </ul>
  <ul class="uk-list tab-content">
    <template :if="tab === 'shapes'">
      <li>
        <div class="uk-width-1-1 uk-flex actions">
          <div class="btn" @click="addShape('quad')">Add Quad</div>
          <div class="btn" @click="addShape('tri')">Add Tri</div>
        </div>
        <div class="obj-list">
          <template :for="shapes" :id="$value.id">
            <div class="obj">
              <div>{{$value.label}}</div>
              <a
                href="javascript:void(0)"
                uk-icon="icon: trash"
                @click="deleteShape($value)"
                aria-label="Delete Shape"
                uk-tooltip="Delete Shape"
              ></a>
            </div>
          </template>
        </div>
      </li>
    </template>
    <template :if="tab === 'scripts'">
      <li
        @dragover="handleOver($event)"
        @dragenter="handleEnter($event)"
        @dragleave="handleLeave($event)"
        @drop="handleScriptDrop($event)"
      >
        <div class="uk-width-1-1 uk-flex actions">
          <div class="btn" @click="openNewScript()">Add Script</div>
        </div>
        <folder-list
          :items="sorted(scripts)"
          :actions="actions?.scripts || []"
          :dragtype="'script'"
          :arrange="(d, p) => arrangeScripts(d, p)"
        ></folder-list>
      </li>
    </template>
    <template :if="tab === 'effects'">
      <li
        @dragover="handleOver($event)"
        @dragenter="handleEnter($event)"
        @dragleave="handleLeave($event)"
        @drop="handleEffectDrop($event)"
      >
        <div class="uk-width-1-1 uk-flex actions">
          <div class="btn" @click="openNewEffect()">Add Effect</div>
        </div>
        <folder-list
          :items="sorted(effects)"
          :actions="actions?.effects || []"
          :dragtype="'effect'"
          :arrange="(d, p) => arrangeEffects(d, p)"
        ></folder-list>
      </li>
    </template>
    <template :if="tab === 'shaders'">
      <li :class="tabClass('shaders')">list of shaders (not implemented)</li>
    </template>
  </ul>
</template>

<script>
  import app from "../app.js";
  import { storage } from "../js/storage.js";
  import { gen_id } from "../js/utils.js";

  import { Effects } from "../js/effects.js";

  class SideMenu extends BuildingBlocks {
    constructor() {
      super();
      this.tab = "shapes";
    }

    static get observedProperties() {
      return ["shapes", "scripts", "tab", "shaders", "effects", "actions"];
    }

    connected() {
      storage.bind(this, "scripts", (scripts) => {
        this.scripts = [...scripts];
      });
      app.state.bind(this, "shapes", (shapes) => {
        this.shapes = shapes;
      });
      storage.bind(this, "effects", (effects) => {
        effects.map((e) => {
          e.removable = true;
        });

        this.effects = [...Effects, ...(effects || [])];
      });

      this.actions = {
        effects: [
          {
            icon: "pencil",
            label: "Edit Effect",
            active: ($idx, $key, $value) => {
              return !!$value.removable;
            },
            click: ($idx, $key, $value) => {
              console.log($value);
              this.openEditEffect($value);
            },
          },
          {
            icon: "trash",
            class: "delete",
            label: "Delete Effect",
            active: ($idx, $key, $value) => {
              return !!$value.removable;
            },
            click: ($idx, $key, $value) => {
              this.deleteEffect($value);
            },
          },
        ],
        scripts: [
          {
            icon: "pencil",
            label: "Edit Script",
            click: ($idx, $key, $value) => {
              this.openEditScript($value);
            },
          },
          {
            icon: "trash",
            class: "delete",
            label: "Delete Script",
            active: ($idx, $key, $value) => {
              return true;
            },
            click: ($idx, $key, $value) => {
              this.deleteScript($value);
            },
          },
        ],
      };
    }

    tabClass(tab) {
      return tab === this.tab ? "active" : "";
    }

    updateTab(tab) {
      this.tab = tab;
    }

    handleOver(e) {
      e.preventDefault();
    }

    handleEnter(e) {
      if (!!e.relatedTarget && e.currentTarget.contains(e.relatedTarget)) {
        return;
      }

      // this.classList.add("dragover");
    }

    handleLeave(e) {
      if (!!e.relatedTarget && e.currentTarget.contains(e.relatedTarget)) {
        return;
      }

      // this.classList.remove("dragover");
    }

    addShape(type) {
      app.state.addShape(type);
    }

    deleteShape(shape) {
      app.state.removeShape(shape);
    }

    openNewScript() {
      let editor = document.createElement("script-editor");
      editor.save = this.editScript.bind(this);
      editor.code = `// start typing your script here. Documentation can be found to the left`;
      editor.label = `Script ${this.scripts.length + 1}`;
      // editor.id = gen_id();
      document.body.appendChild(editor);
    }

    openEditScript(script) {
      let editor = document.createElement("script-editor");
      editor.save = this.editScript.bind(this);
      editor.code = script.code;
      editor.label = `${script.path}/${script.label}`;
      editor.id = script.id;
      document.body.appendChild(editor);
    }

    editScript(label, code, id, path) {
      storage.upsertItem("scripts", { id, label, code, path });
    }

    async arrangeScripts(data, path) {
      if (!data.type === "scripts") {
        return;
      }

      let script = await storage.getItem("scripts", +data.id);

      if (!script) {
        console.log("No Script", +data.id);
      }

      console.log(script, path);

      storage.upsertItem("scripts", {
        id: script.id,
        label: script.label,
        code: script.code,
        path: path,
      });
    }

    async handleScriptDrop(e) {
      e.preventDefault();

      let data = JSON.parse(e.dataTransfer.getData("text/plain"));

      this.arrangeScripts(data, "");
    }

    deleteScript(script) {
      storage.removeItem("scripts", script);
    }

    openNewEffect() {
      let editor = document.createElement("effect-editor");
      editor.save = this.editEffect.bind(this);
      editor.code = `// start typing your script here. Documentation can be found to the left`;
      editor.label = `Custom Effect ${this.effects.length + 1 - Effects.length}`;
      document.body.appendChild(editor);
    }

    openEditEffect(effect) {
      let editor = document.createElement("effect-editor");
      editor.save = this.editEffect.bind(this);
      editor.id = effect.id;
      editor.code = effect.shader;
      editor.label = effect.removable ? effect.label : `${effect.label} Copy`;
      document.body.appendChild(editor);
    }

    async editEffect(label, code, id, path) {
      let existing = await storage.getItem("effects", id);
      let effect = existing || {
        removable: true,
        active: false,
        effect_x: "X",
        effect_y: "Y",
        defaults: [0, 0],
      };

      effect.id = id;
      effect.path = path;
      effect.label = label;
      effect.shader = code;

      let obj = await storage.upsertItem("effects", effect);
      app.updateEffect(obj);
    }

    deleteEffect(effect) {
      storage.removeItem("effects", effect);
      app.removeEffect(effect);
    }

    async arrangeEffects(data, path) {
      if (!data.type === "effects") {
        return console.warn("Not an effect");
      }

      let existing = await storage.getItem("effects", +data.id);

      if (!existing) {
        return console.warn("No Effect", +data.id);
      }

      existing.path = path;

      storage.upsertItem("effects", existing);
    }

    async handleEffectDrop(e) {
      e.preventDefault();

      let data = JSON.parse(e.dataTransfer.getData("text/plain"));

      console.log(data);

      this.arrangeEffects(data, "");
    }

    sorted(items) {
      let struct = [];
      (items || []).map((item) => {
        let folders = (item.path || "").split("/");
        let folder = struct;

        folders.map((f) => {
          if (!!f.trim()) {
            if (!folder[f]) {
              folder[f] = [];
            }

            folder = folder[f];
          }
        });

        folder.push(item);
      });

      return struct;
    }

    popout() {
      this.querySelector("output-screen").popout();
    }
  }
</script>
